<form class="signin-form" id="signup" action="/signup" method="post">
  <li>
    <input class="vertical-center form-field" type="text" name="player[name]" placeholder="your name">
  </li>
  <li>
    <input class="vertical-center form-field" type="text" name="player[email]" placeholder="your email" autofocus>
  </li>
  <li>
    <input class="vertical-center form-field" type="password" name="player[password]" placeholder="your password">
  </li>
  <li>
    <input class="vertical-center btn-li" type="submit" value="That's All Folks!">
  </li>
</form>
